<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup Page</title>
</head>
<body>
    <h2>Signup Page</h2>
    <form action = "/register" method="POST">
         <label >Email</label>
          <input type ="email" name="email" placeholder="Enter your email" required/>
           </br>
            <label >Password</label>
             <input type = "password" name="password" placeholder="Enter your password" required/>
              </br>
               <button type ="Submit">Create Account</button>
    </form>
 </br>
 <p>Already have an Account?<a href="/login">Login here</a></p>
</body>
</html>